<h1>Sign Up:</h1>
<% if flash.has?(:message) %>
  <div class="alert alert-danger" role="alert"><%= flash[:message] %></div>
<% end %>
<br>
<form action="/signup" method="post">
  <div class="input-group">
    <label>Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username">
  </div>
  <br>
  <div class="input-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
