<h1>Sing Up:</h1>

<form action="/signup" method="post">
  <p>Username:</p><input type="text" name="username">
  <p>Password:</p><input type="text" name="password">
  <p></p>
  <p><input type="submit" value="Sign Up"></p>
</form>
