<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Projects</title>
  </head>
  <body>

    <nav>
      <% if logged_in? %>

        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="#">My Projects</a></li>
          <li role="presentation"><a href="#">Create New Project</a></li>
          <li role="presentation"><a href="#">Log Out</a></li>
        </ul>

      <% else %>

        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="/login">Log In</a>
          <li role="presentation"><a href="/signup">Sign Up</a>
        </ul>

      <%end %>
    </nav>


    <%= yield %>

  </body>
</html>
